<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="react-app">Loading &hellip;</div>
  </body>
  <script src="/javascripts/build.js"></script>
</html>
